
## ignore everything
*
#Don't ignore basic files
!.gitignore
!README.md 
#track directories so can recurse into them
!*/ 
## track SS input files filetypes
!HRF_SQ_25_yrfwd/1/om/data_echo.ss_new
!HRF_SQ_25_yrfwd/1/om/om.ctl
!HRF_SQ_25_yrfwd/1/om/ss3.dat
!HRF_SQ_25_yrfwd/1/om/starter.ss
!HRF_SQ_25_yrfwd/1/om/forecast.ss
!HRF_SQ_25_yrfwd/1/om/control.ss_new
!HRF_SQ_25_yrfwd/1/om/forecast.ss_new
!HRF_SQ_25_yrfwd/1/om/starter.ss_new
!HRF_SQ_25_yrfwd/1/om/ss.par
!HRF_SQ_25_yrfwd/1/om/Report.sso
!HRF_SQ_25_yrfwd/1/em/em.ctl
!HRF_SQ_25_yrfwd/1/em/ss3.dat
!HRF_SQ_25_yrfwd/1/em/starter.ss
!HRF_SQ_25_yrfwd/1/em/forecast.ss
!HRF_SQ_25_yrfwd/1/em/data_echo.ss_new
!HRF_SQ_25_yrfwd/1/em/control.ss_new
!HRF_SQ_25_yrfwd/1/em/forecast.ss_new
!HRF_SQ_25_yrfwd/1/em/starter.ss_new
!HRF_SQ_25_yrfwd/1/em/ss.par
!HRF_SQ_25_yrfwd/1/em/Report.sso
!HRF_SQ_25_yrfwd/1/em_no_platoon/em.ctl
!HRF_SQ_25_yrfwd/1/em_no_platoon/ss3.dat
!HRF_SQ_25_yrfwd/1/em_no_platoon/starter.ss
!HRF_SQ_25_yrfwd/1/em_no_platoon/forecast.ss
!HRF_SQ_25_yrfwd/1/em_no_platoon/data_echo.ss_new
!HRF_SQ_25_yrfwd/1/em_no_platoon/control.ss_new
!HRF_SQ_25_yrfwd/1/em_no_platoon/forecast.ss_new
!HRF_SQ_25_yrfwd/1/em_no_platoon/starter.ss_new
!HRF_SQ_25_yrfwd/1/em_no_platoon/ss.par
!HRF_SQ_25_yrfwd/1/em_no_platoon/Report.sso
!models/03-simplified-mod
!models/opaka-em/*
!models/opaka-om/* 
!models/opaka-om-5/*
!models/opaka-em-5/*
!models/opaka-om-15/*
!models/opaka-em-15/*
!models/opaka-om-25/*
!models/opaka-em-25/*
!models/opaka-om-50/*
!models/opaka-em-50/*
!models/opaka-em-25-R0_trend/*
!models/opaka-om-25-R0_trend/*
!bin/*
!*/*data.ss
!*/*data_boot*.ss
!*/control.ss
!*/control.ss_new
!*/forecast.ss
!*/starter.ss
## track code and inputs
!R/*
!*.r
!*.R
!Inputs/*
!*.qmd
*.sif
!Report/*
# renv files
!renv/settings.json
!renv.lock
!.Rprofile

